<div class="text-center text-md-left">
  <div class="list-group mb-4" id="list-tab" role="tablist">
    <!-- Favorited School List -->
    <a
      class="list-group-item list-group-item-action active"
      id="list-favorited-list"
      data-toggle="list"
      href="#list-favorited"
      role="tab"
      aria-controls="favorited"
    >
      <i class="fas fa-thumbs-up"></i> Favorited
    </a>
    <!-- Favorited School List End -->

    <!-- Rated School List -->
    <a
      class="list-group-item list-group-item-action"
      id="list-rated-list"
      data-toggle="list"
      href="#list-rated"
      role="tab"
      aria-controls="rated"
    >
      <i class="fas fa-star checked"></i> Rated
    </a>
    <!-- Rated School List End -->

    <!-- reviewed School List -->
    <a
      class="list-group-item list-group-item-action"
      id="list-reviewed-list"
      data-toggle="list"
      href="#list-reviewed"
      role="tab"
      aria-controls="reviewed"
    >
      <i class="fas fa-comment-dots"></i> Reviewed
    </a>
    <!-- reviewed School List End -->

    <!-- Latest School List -->
    <a
      class="list-group-item list-group-item-action"
      id="list-latest-list"
      data-toggle="list"
      href="#list-latest"
      role="tab"
      aria-controls="latest"
    >
      Latest
    </a>
    <!-- Latest School List End -->
  </div>
</div>