<div class="form-group">
  <label for="inquiry">Inquiry (within 500 letters)</label>
  <textarea
    type="text"
    class="form-control"
    id="inquiry"
    name="inquiry"
    rows="5"
  ><%= typeof inquiry != 'undefined' ? inquiry : '' %></textarea>
</div>