<% if (formContent === 'signup' || formContent === 'login') { %>
<div class="form-group">
  <label for="password">Password (required)</label>
  <input
    type="password"
    class="form-control"
    id="password"
    name="password"
    placeholder="at least 5 letters or numbers"
    value="<%= typeof password != 'undefined' ? password : '' %>"
  >
</div>
<% } %>

<% if (formContent === 'signup') { %>
  <div class="form-group">
    <label for="comfirmPassword">Confirm Password (required)</label>
    <input
      type="password"
      class="form-control"
      id="confirmPassword"
      name="confirmPassword"
      placeholder="at least 5 letters or numbers"
    >
  </div>
<% } %>

<% if (formContent === 'password') { %>
<div class="form-group">
  <label for="currentPassword">Current Password (required)</label>
  <input
    type="password"
    class="form-control"
    id="currentPassword"
    name="currentPassword"
    placeholder="at least 5 letters or numbers"
  >
</div>
<% } %>

<% if (formContent === 'resetPassword' || formContent === 'password') { %>
<div class="form-group">
  <label for="newPassword">New Password (required)</label>
  <input
    type="password"
    class="form-control"
    id="newPassword"
    name="newPassword"
    placeholder="at least 5 letters or numbers"
  >
</div>

<div class="form-group">
  <label for="confirmNewPassword">Confirm New Password (required)</label>
  <input
    type="password"
    class="form-control"
    id="confirmNewPassword"
    name="confirmNewPassword"
    placeholder="at least 5 letters or numbers"
  >
</div>
<% } %>

