<%- include("../partials/header") %>

<section id="editUser">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12">
      <%- include("./userPartials/profile") %>
      </div>
      <div class="col-md-8 col-sm-12">
      <%- include("../partials/form") %>
      </div>
    </div>
  </div>
</section>
  
<%- include("../partials/footer") %>